### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [21]:
#Load modules
import pandas as pd
import numpy as np

#Set filepath
file = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas dataframe
purchase_data = pd.read_csv(file)

## Player Count

* Display the total number of players

In [22]:
total_players = int(purchase_data.shape[0] - 1)
total_players_df = pd.DataFrame([total_players],
                               columns=['Total Players'])
total_players_df

   Total Players
0            779

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [23]:
purchase_summary_df = purchase_data.describe()
average = round(purchase_summary_df.loc['mean', 'Price'], 2)
purchase_count = round(int(purchase_summary_df.loc['count', 'Purchase ID']))
total_revenue = purchase_data['Price'].sum()
unique_items = len(purchase_data['Item ID'].unique())
pd.DataFrame([[unique_items, "$" + str(average), purchase_count, "$" + str(total_revenue)]], 
              columns=['Number of Unique Items', 'Average Price', 'Number of Purchases', 'Total Revenue'])

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     183         $3.05                  780      $2379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [25]:
gender_data = purchase_data.groupby("Gender")["SN"].nunique()
gender_data_df = pd.DataFrame(gender_data)
gender_data_df.columns = ['Total Count']
total_gender = gender_data_df.loc['Male', 'Total Count'] + gender_data_df.loc['Female', 'Total Count'] + gender_data_df.loc['Other / Non-Disclosed', 'Total Count']
male_percent = str(round((gender_data['Male'] / total_gender) * 100, 2)) + "%"
female_percent = str(round((gender_data['Female'] / total_gender) * 100, 2)) + "%"
other_percent = str(round((gender_data['Other / Non-Disclosed'] / total_gender) * 100, 2)) + "%"
gender_data2 = gender_data_df.assign(Percentage = [male_percent, female_percent, other_percent])
gender_data2.columns = ['Total Count', 'Percentage of Players']
gender_data2

                       Total Count Percentage of Players
Gender
Female                          81                84.03%
Male                           484                14.06%
Other / Non-Disclosed           11                 1.91%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [26]:
total_purchase = purchase_data['Gender'].value_counts()
gender_summary_df = pd.DataFrame(total_purchase)
total_purchase_m = round(purchase_data.groupby('Gender')['Price'].sum()['Male'], 2)
total_purchase_f = round(purchase_data.groupby('Gender')['Price'].sum()['Female'], 2)
total_purchase_o = round(purchase_data.groupby('Gender')['Price'].sum()['Other / Non-Disclosed'], 2)
average_price_m = round(purchase_data.groupby('Gender')['Price'].mean()['Male'], 2)
average_price_f = round(purchase_data.groupby('Gender')['Price'].mean()['Female'], 2)
average_price_o = round(purchase_data.groupby('Gender')['Price'].mean()['Other / Non-Disclosed'], 2)
avg_total_m = round(total_purchase_m / gender_data_df.loc['Male', 'Total Count'], 2)
avg_total_f = round(total_purchase_f / gender_data_df.loc['Female', 'Total Count'], 2)
avg_total_o = round(total_purchase_o / gender_data_df.loc['Other / Non-Disclosed', 'Total Count'], 2)
gender_data3 = gender_summary_df.assign(Average = ['$' + str(average_price_m), '$' + str(average_price_f) + '0', '$' + str(average_price_o)])
gender_data4 = gender_data3.assign(Total = ['$' + str(total_purchase_m), '$' + str(total_purchase_f), 
                                            '$' + str(total_purchase_o)])
gender_data5 = gender_data4.assign(AvgTotal = ['$' + str(avg_total_m), '$' + str(avg_total_f), '$' + str(avg_total_o)])
gender_data5.columns = ['Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Avg Total Purchase per Person']
gender_data5

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Male,652,$3.02,$1967.64,$4.07
Female,113,$3.20,$361.94,$4.47
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame